@font-face {
    font-family: "AntonioRegular";
    src: url("fonts/Antonio-Regular.ttf");
}

@font-face {
    font-family: "AntonioBold";
    src: url("fonts/Antonio-Bold.ttf");
}

@font-face {
    font-family: "GlacialIndifferenceRegular";
    src: url("fonts/GlacialIndifference-Regular.otf");
}

@font-face {
    font-family: "GlacialIndifferenceBold";
    src: url("fonts/GlacialIndifference-Bold.otf");
}

a:link, a:visited, a:active, a:hover {
    color: #03506f;
}

.antonio-bold {
    font-family: "AntonioBold", Arial, sans-serif;
}

.antonio-regular {
    font-family: "AntonioRegular", Arial, sans-serif;
}

body {
    font-family: "GlacialIndifferenceRegular", Verdana, sans-serif;
    font-size: 0.875rem;
}

.bg-beige {
    background-color: #f3f2da;
}

h3 {
    background-color: #456268;
}

header {
    background-color: #03506f;
}

li {
    margin: 10px 0;
}

.glacial-bold {
    font-family: "GlacialIndifferenceBold", Verdana, sans-serif;
}

@media only screen and (min-width: 768px) {
    h1 {
        flex-basis: 35%;
    }

    address {
        flex-basis: 65%;
        border-left: 1px solid #f3f2da;
    }
}