body {
    -webkit-print-color-adjust: exact;
    font-size: 10pt;
}

a:link {
    text-decoration: none;
}

td.bg-beige, tr.bg-beige td {
    background-color: #f3f2da !important;
}

.table th {
    border-top: 0 !important;
}

abbr {
    text-decoration: none !important;
}